.elementor-bc-flex-widget .elementor-947 .elementor-element.elementor-element-e3a85e0.elementor-column .elementor-column-wrap{align-items:center;}.elementor-947 .elementor-element.elementor-element-e3a85e0.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-947 .elementor-element.elementor-element-e3a85e0.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-947 .elementor-element.elementor-element-e3a85e0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-947 .elementor-element.elementor-element-b273a7b .jet-inline-svg{max-width:200px;color:#61CE70;}.elementor-947 .elementor-element.elementor-element-b273a7b .jet-inline-svg:hover{color:#23A455;}.elementor-947 .elementor-element.elementor-element-b273a7b .jet-inline-svg__wrapper{text-align:center;}.elementor-947 .elementor-element.elementor-element-f2f220d .elementor-text-editor{text-align:center;}.elementor-947 .elementor-element.elementor-element-f2f220d{color:#FFFFFF;}.elementor-947 .elementor-element.elementor-element-f2f220d > .elementor-widget-container{margin:-43px -50px 0px -50px;}.elementor-947 .elementor-element.elementor-element-b8a37c5{margin-top:15px;margin-bottom:15px;}/* Start custom CSS for jet-inline-svg, class: .elementor-element-b273a7b */<style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
} 
</style>

<h1 id="myHeader">My Header</h1>/* End custom CSS */
/* Start custom CSS for jet-inline-svg, class: .elementor-element-b273a7b */<style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
} 
</style>

<h1 id="myHeader">My Header</h1>/* End custom CSS */