.elementor-615 .elementor-element.elementor-element-615 .elementor-button{fill:#6EC1E4;color:#6EC1E4;background-color:rgba(2, 1, 1, 0);border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:0px 0px 0px 0px;}